@import url('https://fonts.googleapis.com/css2?family=WindSong&family=Pixelify+Sans:wght@400..700&family=Abril+Fatface&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color: #EDF2F7;
}


.header{
    font-family:"Abril Fatface", serif ;
    color: #e0e6ff;
    background-color:#2d326e;
    font-weight: 100;
    height: 4rem;
    align-content:space-evenly;
}

#titulo {
    font-size: x-large;
    padding-left: 1%;
}

a#saiba_mais {
    font-size: large;
    color: #e0e6ff;
    text-decoration: underline;
    float: right;    
    padding-right: 1%;

}

.content-wrapper {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    scale: 0.90;
    align-items: center;

}
/* parte esquerda da página */
.main-column {
    text-align: left;
    width: 50%;
    padding-left: 8%;
    padding-right: 3%;
    scale: 90%;
}

.imagem_home {
    max-width: 100%;
}

.home-text {
    color: #2d326e;
    display: flex;
    flex-direction: column;
}

#sera {
    font-family:"Abril Fatface", serif ;
    font-size: 4rem; 
    line-height: 0.9;
    margin-bottom: 0.5rem;
}

#entre {
    font-family:"Oxanium", monospace;
    letter-spacing: 0.3px;
    font-size: 2rem;
    font-weight:lighter;
    line-break: loose;
    line-height: 1;
    padding-right: 0.5%;
    text-align: left;
}
/* parte direita da página */
.forms {
    color: #2B2D42;
    width: max-content;
    align-content: center;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-label {
    padding:0.3vw 2.5vh;
    background-color: #e0e6ff;
    border-radius: 40px;
    font-family:"Abril Fatface", serif ;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1.3px;
    margin-bottom: .5rem;
}

.form-select {
    font-family:"Oxanium", monospace;
    width: 100%;
    padding: 1rem;
    border-radius: 40px;
    font-size: 1rem;
    text-align: left;
    appearance: none;
    border: none;
}

.form-input {
    font-family:"Oxanium", monospace;
    width: max-content;
    font-size: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 40px;
    text-align: left;
    appearance: auto;
    border: none;
}

.form-submit {
    font-family:"Oxanium", monospace;
    padding: 1rem 1rem;
    background-color: #2d326e;
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 40px;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.3rem;
}

.form-submit:hover {
    background-color: #e0e6ff;
    color: #2d326e;
}

/* Inicio página resultados */
.resultados {
    font-family: "Abril Fatface", serif;
    color: #2d326e;
    font-size: 1.9rem;
}






@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start; 
        text-align: center;

    }
    
    .form-label,
    .form-input,
    .form-select {
        width: 100%; /* Labels e inputs ocupam a largura total em telas menores */
        text-align: center;
        margin-right: 0; /* Remover a margem direita em telas menores */
    }

    .form-label {
        margin: 0 0 10px 0;
        text-align: center;
    }
    
    .form-input, .form-select, .form-submit {
        width: 80%;
        text-align: center;
    }

    .content-wrapper {
        padding-top: 50px;
        text-align: center;
    }
}

