<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Desigualdade</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
    <header class="header">
        <text id="titulo">
        Desigualdade Salarial Entre Gêneros
        </text>
        <a href=https://github.com/giovannacbs/salarios/ id="saiba_mais">
            Saiba mais sobre o projeto
        </a>
        <a href="/" id="saiba_mais">Página Inicial</a>
    </header>
    <div class = graficos>
        <div class="horizontal">
            <div class="titulo_graf_h">
                <h3 id="r">Médias salariais por raça/cor</h3>
                <br>
                <h3 id="e">Médias salariais por UFs</h3>
            </div>
            <div class ="graf_h">    
                <div style="height: 10vw" id="graf_raca"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/nIPtW/embed.js?v=2" charset="utf-8"></script><noscript><img src="https://datawrapper.dwcdn.net/nIPtW/full.png" alt="" /></noscript></div>    
                <div style="height:10vw;" id="graf_educ"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/4rOZF/embed.js?v=1" charset="utf-8"></script><noscript><img src="https://datawrapper.dwcdn.net/4rOZF/full.png" alt="" /></noscript></div>
            </div>
        </div>
            <div class="graf3">
                <h3>Médias salariais por UFs</h3>
                <div style="max-height:60%;max-width: 40%;" id = graf_uf><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/SgScN/embed.js?v=2" charset="utf-8"></script><noscript><img src="https://datawrapper.dwcdn.net/SgScN/full.png" alt="" /></noscript></div>
            </div>
    </div>
</html>