<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Girls just wanna have equal pay</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<header class="header">
    <text id="titulo">
    Gender Wage Gap
    </text>
    <a href="/" id="saiba_mais">Portuguese</a>
    <a href="https://github.com/giovannacbs/salarios/" id="saiba_mais">
        Learn more about the project
    </a>
</header>
<body>
    <div class="content-wrapper">
        <div class="main-column">
            <img class="imagem_home" src="https://raw.githubusercontent.com/giovannacbs/salarios/main/static/home.png">
            <div class="home-text"> 
                 <text id="sera">
                    Is there really a <br>
                    wage gap?
                 </text>
                <h2 id="entre">Select the variables age, race/color, highest level of education, region of residence, and weekly working hours to check the estimated average salary for men and women.</h2>
            </div>
        </div>
        <div class="forms">
            <form action="/resultado_en" method="get" class="form-container">
                <div class="form-group">
                    <label for="idade" class="form-label">Age</label>
                    <input type="number" name="idade" id="idade" class="form-input" min="15" max="65" required>
                </div>
                <div class="form-group">
                    <label for="regiao" class="form-label">Region</label>
                    <select name="regiao" id="regiao" class="form-select" required>
                        <option value="" selected disabled>Select a region...</option>
                        <option value="Centro-Oeste">Midwest</option>
                        <option value="Nordeste">Northeast</option>
                        <option value="Norte">North</option>
                        <option value="Sul">South</option>
                        <option value="Sudeste">Southeast</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="educ" class="form-label">Highest level of education</label>
                    <select name="educ" id="educ" class="form-select" required>
                        <option value="" selected disabled>Select education level...</option>
                        <option value="Ensino Fundamental">Elementary School</option>
                        <option value="Ensino Médio">High School</option>
                        <option value="Ensino Superior">College</option>
                        <option value="Especialização de nível superior">Graduate School or more</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="raca" class="form-label">Race/Color</label>
                    <select name="raca" id="raca" class="form-select" required>
                        <option value="" selected disabled>Select race/color...</option>
                        <option value="branca">White</option>
                        <option value="nao branca">Non-White</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="hrs_trab" class="form-label">Hours worked per week</label>
                    <input type="number" name="hrs_trab" id="hrs_trab" class="form-input" min="25" max="80" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Calculate Salary" class="form-submit">
                </div>
            </form>
        </div>    
    </div>
</body>
</html>
