<!-- index.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Calcular Salário</title>
</head>
<body>
    <h2>Informe seus dados</h2>
    <form action="/" method="post">
        Idade: <input type="number" name="idade" min="15" max="65" required><br>
        Região:
        <select name="regiao" required>
            <option value="Centro-Oeste">Centro-Oeste</option>
            <option value="Nordeste">Nordeste</option>
            <option value="Norte">Norte</option>
            <option value="Sul">Sul</option>
            <option value="Sudeste">Sudeste</option>
        </select><br>
        Educação:
        <select name="educ" required>
            <option value="Ensino Fundamental">Ensino Fundamental</option>
            <option value="Ensino Médio">Ensino Médio</option>
            <option value="Ensino Superior">Ensino Superior</option>
            <option value="Especialização de nível superior">Especialização de nível superior</option>
        </select><br>
        Raça: 
        <select name="raca" required>
            <option value="branca">Branca</option>
            <option value="nao branca">Não Branca</option>
        </select><br>
        Horas trabalhadas por semana: <input type="number" name="hrs_trab" min="25" max="80" required><br>
        <input type="submit" value="Calcular Salário">
    </form>
</body>
</html>
