<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design da Página</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Link para o arquivo CSS externo -->
</head>
<body>
    <header class="header">Girls Just Wanna Have</header>
    <h1> EQUAL PAY </h1>
    <div>
        <select id="sexo" name="sexo" required> 
            <option value="select">Selecionar...</option>
            <option value = "Mulher">Feminino</option>
            <option value = "Homem">Masculino</option>
        </select>
        <input type="submit" value="Submit"> 
    </form>
    </div>
</body>
</html>
