<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.counter').each(function () {
                $(this).prop('Counter',0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 2000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(parseFloat(now).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    }
                });
            });
        });
    </script>    
    <style>
        text, .axis text {
            font-family: "Oxanium", monospace;
            color: #2d326e;
            font-size: 130%;
        }
        .axis path, .axis line {
            stroke: #2d326e; 
        }
        .footer, .form-submit {
            text-align: center; /* Center footer content */
        }
    </style>
</head>
<body>
    <header class="header">
        <text id="titulo">
            Gender Wage Gap
        </text>
        <a href="https://github.com/giovannacbs/salarios/" id="saiba_mais">
            Learn more about the project
        </a>
        <a href="/dados" id="saiba_mais">See more data</a>
    </header>
    <div class="result">    
        <div class="resultados">
            <p>Estimated value if male:</p>
            <p id="sal_hom">R$<span id="h" class="counter">{{ salario_homem }}</span></p>
            <br/>
            <p>Estimated value if female:</p> 
            <p id="sal_mul">R$<span id="m" class="counter">{{ salario_mulher }}</span></p>
            <br/>
            <p>Difference of <span class="counter">{{ percentual }}</span>%</p> 
        </div>
        <div id="chart"></div>
        <script>
            const data = [
                {category: 'Man', value: {{ salario_homem }}}, 
                {category: 'Woman', value: {{ salario_mulher }}}
            ];
        
            const width = window.innerWidth * 0.5;
            const height = window.innerHeight * 0.7;
        
            const svg = d3.select("#chart").append("svg")
                .attr("width", width)
                .attr("height", height);
        
            const margin = {top: 40, right: 20, bottom: 30, left: 80},
                chartWidth = width - margin.left - margin.right,
                chartHeight = height - margin.top - margin.bottom;
        
            const x = d3.scaleBand().rangeRound([0, chartWidth]).padding(0.1),
                  y = d3.scaleLinear().rangeRound([chartHeight, 0]);
        
            const g = svg.append("g")
                         .attr("transform", `translate(${margin.left},${margin.top})`);
        
            x.domain(data.map(d => d.category));
            y.domain([0, d3.max(data, d => d.value)]);
        
            const formatCurrency = d3.formatLocale({
                decimal: ".",
                thousands: ",",
                grouping: [3],
                currency: ["R$", ""]}).format("$,.2f");
                
            g.append("g")
             .attr("class", "axis axis--x")
             .attr("transform", `translate(0,${chartHeight})`)
             .call(d3.axisBottom(x));
        
            g.append("g")
             .attr("class", "axis axis--y")
             .call(d3.axisLeft(y).tickFormat(formatCurrency).tickSize(0))
             .append("text")
             .attr("transform", "rotate(-90)")
             .attr("y", 6)
             .attr("dy", "0.71em")
             .attr("text-anchor", "end")
             .text("Value");
        
            g.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", d => x(d.category))
            .attr("width", x.bandwidth())
            .attr("y", chartHeight)
            .attr("height", 0)
            .style("fill", d => d.category === "Man" ? "#4f69e1" : "#8B98F3")
            .transition()
            .duration(2000)
            .attr("y", d => y(d.value))
            .attr("height", d => chartHeight - y(d.value));
        </script>
    </div>
    <div class="footer">
        This model applies linear regression to the logarithm of hourly wages, using data from the four quarters of 2023, separated by gender, from PNAD Continua. The displayed output represents the total salary, calculated by multiplying the estimated hourly wage by the hours worked provided by the user. Calculations, models, and coefficients obtained are available in this <a href="https://github.com/giovannacbs/salarios/blob/main/Regressao%20Salario-Hora.py">code</a>. 
    </div>
    <div class="footer">
        <a href="/en" class="form-submit">Back</a>
    </div>
</body>
</html>
