<!-- resultado.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<header class="header">
    <text id="titulo">
    Desigualdade Salarial Entre Gêneros
    </text>
    <a href=https://github.com/giovannacbs/salarios/ id="saiba_mais">
        Saiba mais sobre o projeto
    </a>
    <a href="dados.html" id="saiba_mais">Veja mais dados</a>
</header>
<body>
    <div class="result">    
        <div class="resultados">
            <p>Seu salário estimado caso mulher é: R$ {{texto_mulher}}</p>
            <p>Seu salário estimado caso homem é: R$ {{texto_homem}}</p>
        </div>
        <canvas id="graficoSalario" style="max-width: 50%; max-height: 50%;"></canvas>
        <script>
            var salarioHomem = {{salario_homem}}
            var salarioMulher = {{salario_mulher}}

            var ctx = document.getElementById('graficoSalario').getContext('2d');
            var graficoSalario = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Homem', 'Mulher'],
                    datasets: [{
                        label: 'Salário',
                        data: [salarioHomem, salarioMulher],
                        backgroundColor: [
                            'rgba(100, 181, 246, 0.2)', // Azul claro
                            'rgba(244, 143, 177, 0.2)' // Rosa claro
                        ],
                        borderColor: [
                            'rgba(100, 181, 246, 1)', // Azul
                            'rgba(244, 143, 177, 1)' // Rosa
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            grid: {
                                display: false
                            }
                        },
                        y: {
                            beginAtZero: true,
                            grid: {
                                display: false
                            }
                        }
                    }
                }
            });

        </script>
        <div class="footer">
            Os valores acima são resultados de regressões lineares criadas a partir da base de dados do quatro trimestres de 2023 da PNADContínua disponibilizada pelo IBGE. Os dados passaram por tratamento como dessazonalização e distribuição dos pesos. O salário é o salário por mês, independente do número de horas trabalhadas. 
        </div>
        <a href="/" class="form-submit">Voltar</a>
    </div>
</body>
</html>

