<!-- resultado.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Resultado do Salário</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<header class="header">
    <text id="titulo">
    Desigualdade Salarial Entre Gêneros
    </text>
    <a href=https://github.com/giovannacbs/salarios/ id="saiba_mais">
        Saiba mais sobre o projeto
    </a>
</header>
<body>
    <div class="resultados">
        <p>Seu salário estimado caso mulher é: R$ {{salario_mulher}}</p>
        <p>Seu salário estimado caso homem é: R$ {{salario_homem}}</p>
    </div>
    <a href="/" class="form-submit">Voltar</a>
</body>
</html>
